@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora Variable", serif;
    --font-mono: "IBM Plex Mono", monospace;
    --font-heading: "Outfit Variable", sans-serif;

    --background: 221.89 5.2% 95.94%;
    --foreground: 240 5.88% 10%;
    --muted: 224.15 36% 86%;
    --muted-foreground: 226.42 6% 31%;
    --popover: 226.42 39% 99%;
    --popover-foreground: 47 70% 0%;
    --card: 224.15 39% 99%;
    --card-foreground: 47 70% 0%;
    --border: 0 0% 80%;
    --input: 217.36 1.65% 78.88%;
    --primary: 206.04 65% 48%;
    --primary-foreground: 221.89 0% 100%;
    --secondary: 224.15 2.11% 82.71%;
    --secondary-foreground: 228.68 11% 32%;
    --accent: 217.36 3.25% 88.07%;
    --accent-foreground: 233.21 11% 32%;
    --destructive: 355.47 81.67% 40.65%;
    --destructive-foreground: 348.68 96% 89%;
    --ring: 221.89 65% 48%;

    --radius: 0.375rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 212 18.25% 15.88%;
    --foreground: 216 19.48% 75%;
    --muted: 213.75 11.59% 27.06%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 212 18.25% 15.88%;
    --popover-foreground: 0 0% 98%;
    --card: 217.5 17.39% 18.04%;
    --card-foreground: 216 19.48% 88%;
    --border: 213.75 11.59% 27.06%;
    --input: 213.75 11.59% 27.06%;
    --primary: 124.11 41.24% 34.71%;
    --primary-foreground: 0 0% 98%;
    --secondary: 213.75 11.59% 27.06%;
    --secondary-foreground: 0 0% 98%;
    --accent: 213.75 11.59% 27.06%;
    --accent-foreground: 0 0% 98%;
    --destructive: 3.12 74.76% 59.61%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 83.1%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(../fonts/inter-latin-wght-normal.woff2) format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Outfit Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(../fonts/outfit-latin-wght-normal.woff2) format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../fonts/ibm-plex-mono-latin-400-normal.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Lora Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 400 700;
    src: url(../fonts/lora-latin-wght-normal.woff2) format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    font-variation-settings: "opsz" 32;
    font-feature-settings:
      "rlig" 1,
      "calt" 1,
      "cv11" 1,
      "ss02" 1,
      "zero" 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance font-heading font-light tracking-wide;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.royal-link {
  @apply dark:text-royal-blue-300 text-royal-blue-600;
}

/* Animated Borders, thanks to Coding2GO (https://www.youtube.com/watch?v=ezP4kbOvs_E) */
.border-glow {
  position: relative;
  padding: 5px;
  border-radius: calc(var(--radius) + 2px);
  @media (min-width: 768px) {
    max-width: 28rem /* 448px */;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.border-glow::after,
.border-glow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: calc(var(--radius) + 2px);
  background-image: conic-gradient(from var(--angle), transparent 70%, oklch(0.4 0.16 255.68));
  animation: 6s spin linear infinite;
}
@media (prefers-reduced-motion) {
  .border-glow::after,
  .border-glow::before {
    background-image: conic-gradient(from var(--angle), transparent 100%, oklch(0.4 0.16 255.68));
    animation: none;
  }
}
.border-glow::before {
  opacity: 0.5;
  filter: blur(1rem);
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.full-bleed {
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
}
